<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.tfg.wordofy"
        version   = "3.0.2">
    <name>Wordofy</name>

    <description>        
    </description>

    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="2.3.0" />
    <preference name="orientation"      value="default" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="true" />

	<gap:plugin name="FacebookConnect">
		<param name="APP_ID" value="545129182175702" />
	</gap:plugin>

	<access origin="*" subdomains="true" />
</widget>